Button{
  background-color: #41ade7;
  color:white;
  border-radius: 5px 5px 5px 5px;
  border: 0px inset #41ade7;
}

p{
  color:#666666;
  font:Arial;
  font-size: 16px;
  font-family: sans-serif
}

h1{
  color:#41ade7;
  font:Arial;
  font-size: 32px;
  font-family: sans-serif
}

h2{
  color:#666666;
  font:Arial;
  font-size: 24px;
  font-family: sans-serif
}

h3{
  color:#666666;
  font:Arial;
  font-size: 16px;
  font-family: sans-serif
}

h4{
  color:#999999;
  font:Arial;
  font-size: 16px;
  font-family: sans-serif
}

.buttonSizeGeneral{
  width: 140px;
  height: 40px;
}

.plusbutton{
  width:30px;
  height:30px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:right;
}

.colorBlue {
  color:#41ADE7;
}

.inputText {
  height: 40px;
  font-size: 18px;
}

.bigInputText {
  height: 120px;
  font-size: 18px;
}

.backgroundBlue{
  background: #41ADE7;
}

.backgroundGrayFooter{
  background: #666666;
  
}

.backgroundGrayBody{
  background: #F5F5F5;
}

.logoFooter{
  height: 102px;
  width: 223px;
}


footer{
  height: 210px;
  background: #323232;
}

.buttonCirculeImage {
  background-image: url(./appImage/plusImage.svg);
  background-repeat: no-repeat;
}

 .form-horizontal .control-label {
  width: 150px;
  padding-top: 5px;
  text-align: left;
  display: block;
}
 
.form-horizontal .controls {
  display: block;
  float:left;
}


a{
  color:#41ADE7;
  font:Arial;
  font-size: 16px;
  font-family: sans-serif
}

.circularButton{
  width: 140px;
  height: 40px;
  border-radius: 50px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #41ADE7;
}

.aNavbar{
  font-size: 13px;
}

.pointer {
  cursor: pointer;
}

.diplayNone{
  display: none;
}