
  .logo {
    height: 100px;
    width: 50%;
    place-items: left;
    align-content: left;
    background: #41ADE7;
  }

  .logo-Gym{
    height: 100px;
    width:15%;
    text-align-last: right;
    background: #41ADE7;  
  }

  .header {
    background-color:#41ADE7;
    background: #41ADE7;
    height: 100px;
    font-size: calc(10px + 2vmin);
    width: 100%;
  }
  
  .link {
    color: #61dafb;
  }

  
  