.cssInputText{
    width: 130px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 0px inset #000000;   
}

.cssLabelText{
    text-align: left;  
}