Button{
  width: 140px;
  height: 40px;
  background-color: #41ade7;
  color:white;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 0px inset #000000;
}

.colorBlue {
  color:#41ADE7;
}

.inputText {
  height: 40px;
  font-size: 18px;
}

.backgroundBlue{
  background: #41ADE7;
}

.backgroundGrayFooter{
  background: #666666;
}

.logo {
  height: 90px;
}